@page "/"
<div class="container">
    <h1>Listado de vehículos</h1>
  
    @if (vehicles == null || !vehicles.Any())
    {
        <p>No hay vehículos registrados...</p>
    }
    else {
        <div class="row">
        <!-- Listing vehicles on cards -->
        @foreach (var vehicle in vehicles)
        {
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center text-primary"><strong>@vehicle.PlateNumber</strong></h5>
                        <!-- default image depending on the vehicle type -->
                        <img src="@GetVehicleImage(vehicle.VehicleType)" alt="@vehicle.VehicleType" class="img-fluid mb-3" />
                        <ul class="list-unstyled">
                            <li><strong>Tipo de vehículo: </strong>@vehicle.VehicleType</li>
                            <li><strong>Marca: </strong>@vehicle.Brand</li>
                            <li><strong>Modelo: </strong>@vehicle.Model</li>
                            <li><strong>Año: </strong>@vehicle.Year</li>
                        </ul>
                    </div>
                </div>
            </div>
        }
        </div>
    }
    <div class="d-flex justify-content-center m-3">
        <a class="btn btn-primary" href="/vehicles-registration">Añadir vehículo</a>
    </div>  
</div>